@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    KARAPA,KARAPA MANDAL<br />
    NEAR DURGA TEMPLE, WA 999999999999<br />
    <abbr title="Phone">P:</abbr>
    5334456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:THIRUPATHIRAOREDDY@GMAIL.COM">THIRUPATHIRAOREDDY@GMAIL.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
